.navbar {
  @apply flex px-10 2xl:text-lg z-50 font-semibold items-center justify-between;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.99) 30%,
    rgba(20, 20, 20, 0) 700%
  );
}

.navbar * {
  @apply items-center;
}

.navbar a,
.subnav_title {
  border-bottom: 0.3rem solid rgb(20, 20, 20);
}

.navbar .active,
.subnav_content a:hover {
  @apply text-primary;
  border-bottom: 0.3rem solid;
}

.navbar a {
  @apply pb-3 pt-[1.05rem] px-5;
}

.navbar a:hover {
  @apply text-primary;
}

.title {
  @apply text-primary mr-7 text-4xl;
}

.subnav {
  @apply float-left overflow-hidden;
}

.subnav_title,
.navbar a {
  @apply bg-inherit pb-3 pt-[1.05rem] px-5 m-0;
}

.subnav:hover .subnav_title {
  @apply text-primary;
}

.subnav_content {
  @apply hidden absolute left-0 bg-white w-full z-50;
}

.subnav_content a {
  @apply float-left text-black py-2;
  border-bottom: 0.3rem solid white;
}

.subnav:hover .subnav_content {
  @apply block;
}
