.navbar {
  @apply flex px-10 2xl:text-lg z-50 font-semibold items-center;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.99) 30%,
    rgba(20, 20, 20, 0) 700%
  );
}

.navbar a {
  @apply py-1 px-5;
}

.navbar a:hover {
  @apply text-primary;
}

.title {
  @apply text-primary mr-7;
}

.subnav {
  @apply float-left overflow-hidden;
}

.subnav_title {
  @apply bg-inherit py-4 px-5 m-0;
}

.subnav:hover .subnav_title {
  @apply text-primary;
}

.subnav_content {
  @apply hidden absolute left-0 bg-white w-full z-50;
}

.subnav_content a {
  @apply float-left text-black;
  border-bottom: 0.3rem solid white;
}

.subnav_content a:hover {
  border-bottom: 0.3rem solid;
}

.subnav:hover .subnav_content {
  @apply block;
}
