.navbar {
  @apply transition-all duration-300 h-full w-16 bg-secondary fixed top-0 left-0 text-2xl lg:text-lg z-40 font-semibold overflow-y-auto overflow-x-hidden lg:px-4 xl:px-10 lg:static lg:w-auto lg:overflow-hidden lg:items-center lg:justify-between lg:flex 2xl:text-xl;

  box-shadow: 3px 0px 3px black;
}

.navbar .link {
  border-bottom: 0.3rem solid theme('colors.secondary');
}

.navbar .items {
  @apply lg:flex items-center;
}

.navbar .item .link {
  @apply flex items-center space-x-4 lg:space-x-0;
}

.items {
  @apply py-10 lg:py-0;
}

.item:not(:first-of-type) {
  @apply mt-10 lg:mt-0;
}

.navbar .link .text {
  @apply hidden lg:inline-block;
}

.open {
  @apply w-full sm:w-2/3;
}

.open .link .text {
  @apply inline-block;
}

@media (min-width: theme('screens.lg')) {
  .subnav_title {
    border-bottom: 0.3rem solid theme('colors.secondary');
  }
}

.link .icon,
.menu_icon {
  @apply lg:hidden;
}

.menu_icon {
  @apply w-14 ml-1;
}

.link .icon {
  @apply w-10 ml-3;
}

.searchbar {
  @apply hidden lg:inline-block;
}

.open .searchbar {
  @apply inline-block ml-3;
}

.navbar .active .text,
.navbar .active .icon path,
.subnav_content a:hover {
  @apply text-primary;
}

@media (min-width: theme('screens.lg')) {
  .navbar .active,
  .subnav_content a:hover {
    border-bottom: 0.3rem solid theme('colors.primary');
  }
}

@media (min-width: theme('screens.lg')) {
}

.navbar .subnav_title,
.navbar .link .text {
  @apply lg:pb-3 lg:pt-[1.05rem] lg:px-4;
}

.navbar .subnav a {
  @apply lg:px-4;
}

.navbar .link:hover .text,
.navbar .link:hover path {
  @apply text-primary;
}

.title {
  @apply hidden lg:inline-block text-primary mr-7 text-4xl my-auto;
}

.subnav {
  @apply hidden lg:block float-left overflow-hidden;
}

.subnav_title,
.navbar .link .text {
  @apply bg-inherit lg:pb-3 lg:pt-[1.05rem];
}

.subnav:hover .subnav_title {
  @apply text-primary;
}

.subnav_content {
  @apply hidden absolute left-0 bg-white w-full z-50;
}

.subnav_content a {
  @apply float-left text-black py-2;
  border-bottom: 0.3rem solid white;
}

.subnav:hover .subnav_content {
  @apply block;
}
