@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 text-white no-underline list-none;
}

body {
  @apply bg-secondary overflow-x-hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width and height */
::-webkit-scrollbar {
  @apply w-2 h-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply brightness-50;
}
